.noti-dot {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 25px;
}
